{{#common}}.{{/common}}{{^common}}%{{/common}}{{mixin}} {
	background-repeat: no-repeat;
	background-image: url({{{sprite}}});
}

{{#shapes}}{{#selector.shape}}{{expression}}{{^last}},
{{/last}}{{/selector.shape}} {
	background-position: {{position.relative.xy}};{{^common}}
	@extend %{{mixin}};{{/common}}{{#dimensions.inline}}
	width: {{width.outer}}px;
	height: {{height.outer}}px;{{/dimensions.inline}}
}{{#dimensions.extra}}

{{#selector.dimensions}}{{expression}}{{^last}},
{{/last}}{{/selector.dimensions}} {
	width: {{width.outer}}px;
	height: {{height.outer}}px;
}{{/dimensions.extra}}

{{/shapes}}