{{#hasCommon}}.{{/hasCommon}}{{^hasCommon}}%{{/hasCommon}}{{mixin}} {
	background: url({{{sprite}}}) no-repeat;
}

{{#shapes}}{{#selector.shape}}{{expression}}{{^last}},
{{/last}}{{/selector.shape}} {
	{{^hasCommon}}@extend %{{mixin}};{{/hasCommon}}
	background-position: {{position.relative.xy}};{{#dimensions.inline}}
	width: {{width.outer}}px;
	height: {{height.outer}}px;{{/dimensions.inline}}
}{{#dimensions.extra}}

{{#selector.dimensions}}{{expression}}{{^last}},
{{/last}}{{/selector.dimensions}} {
	width: {{width.outer}}px;
	height: {{height.outer}}px;
}{{/dimensions.extra}}

{{/shapes}}