#configurator {
	margin: 2em 0;
	background-color: #fff;
	
	div {
		display: none;
	}
}

#compiled {
	margin: 0;
	width: 100%;
	min-height: 5em;
	padding: 1em;
	border: 1em solid #D5EDFF;
	box-sizing: border-box;
	font-size: .85em;
	line-height: 1.6;
	font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
	display: block;
	box-shadow: none;
	white-space: pre;
	overflow-x: auto;
}

#configurator .section:checked ~ div,
#configurator .configure:checked ~ div {
	display: block;
}

label {
	display: block;
	cursor: pointer;
	padding: .5em 31% .5em .5em;
	overflow: hidden;
	line-height: 2;
	position: relative;
	
	&:hover,
	input[type=radio]:hover + & {
		background-color: #D5EDFF;
	}
	
	&.enable {
		display: inline-block;
		vertical-align: middle;
		padding: .5em .5em .5em 2em !important;
		position: relative;
		z-index: 0;
		margin-right: .5em;
	}
	
	&.emphasize {
		font-weight: bold;
		color: #007EDF;
	}
}

fieldset {
	position: relative;
}

legend {
	display: block;
	box-sizing: border-box;
	width: 100%;
	cursor: default;
	
	&.label {
		top: 0;
		left: 0;
		position: absolute;
		width: 70%;
	}
}

label {
	.subsection & {
		padding-left: 2em;
		
		.subsection & {
			padding-left: 3.5em;

			.subsection & {
				padding-left: 5em;
	
				.subsection & {
					padding-left: 6.5em;
				}
			}
		}
	}
}

.id {
	color: #ccc;
	margin: 0 .5em;
	font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
	font-size: 10px;
	cursor: text;
	font-weight: normal;
	
	&::before {
		content: '{';
	}

	&::after {
		content: '}';
	}
}

input, select {
	font-family: 'Myriad Pro', Calibri, Helvetica, Arial, sans-serif;
	font-size: 16px;
}

input[type=text],
input[type=number],
select,
.toggle,
.manual,
.boolean {
	position: absolute;
	padding: .3em;
	width: 29%;
	left: 70%;
	box-sizing: border-box;
}

.manual {
	
}

input[type=checkbox] {
	margin: 0 .3em 0 0;
	vertical-align: middle;
}

input[type=radio] {
	cursor: pointer;
	vertical-align: middle;
	line-height: 2;
	position: relative;
	z-index: 1;
	margin-right: -1.5em;
	
	legend + & {
		margin-left: 70%;
	}
}

.toggle,
.manual,
.boolean {
	line-height: 1.5;
	padding-left: 0 !important;
}

.toggle {

	&::before {
		content: attr(data-exand);
		color: #ccc;
	}
	
	.section:checked + legend &::before {
		content: attr(data-collapse);
	}
}

.section {
	display: none;
}

.tabs {
	display: table;
	width: 100%;
	border-collapse: collapse;
	table-layout: fixed;
	margin: 0;
	
	a {
		display: table-cell;
		padding: .5em;
		text-align: center;
		border: none;
		outline-color: transparent;
	
		&:target {
			background-color: #D5EDFF;
			color: #000;
			text-decoration: none;
			cursor: default;
		}
		
		pre {
			display: none;
		}
	}
}