name: Tests

on: [push, pull_request]

env:
  FORCE_COLOR: 2
  NODE_COV: 14 # The Node.js version to run coveralls on

jobs:
  test:
    name: Node ${{ matrix.node }}
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        node: [12, 14, 16]

    steps:
      - name: Clone repository
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node }}
          cache: npm

      - name: Install npm dependencies
        run: npm ci

      - name: Run example
        run: npm run example

      - name: Run tests
        run: npm test
        if: matrix.node != env.NODE_COV

      - name: Run tests with coverage
        run: npm run coverage
        if: matrix.node == env.NODE_COV

      - name: Upload screenshots
        uses: actions/upload-artifact@v2
        if: failure()
        with:
          name: svg-sprite-ci-${{ matrix.node }}-${{ github.sha }}
          path: tmp/

      - name: Run Coveralls
        uses: coverallsapp/github-action@master
        if: matrix.node == env.NODE_COV
        with:
          github-token: "${{ secrets.GITHUB_TOKEN }}"
